[Unit]
Description=An MPRIS scrobbler
Documentation=https://github.com/code-ink-space/rescrobbled-maloja
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=%h/.cargo/bin/rescrobbled

[Install]
WantedBy=default.target
